<nav class="navbar navbar-dark bg-dark text-center navbar navbar-expand-lg">
  <a class="navbar-brand" href="/restaurantes/">Aplicativo Restaurantes</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/restaurantes/">Restaurantes</a>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="isLogin===true">

  <div class='container text-center mt-5' style="max-width: 100px;">
    <a class="nav-link btn btn-warning float-right" style='color:#000' href="#" (click)='logout()' >Sair</a>
  </div>
  
  <div *ngIf="myObj!== undefined && myObj.length > 1" id="divAux" class="container mt-5" style="max-width: 800px;">

      <div class="form-group">
        <input type="text" class="form-control mb-4" placeholder="Pesquisar restaurante" [(ngModel)]="query" id="listSearch">
      </div>
    
      <div class="card mb-1" *ngFor="let restaurante of myObj | filter: query | paginate: {itemsPerPage: 5, currentPage: p}">
        <div class="card-body">
          <a class="link-secondary" href="/restaurantes/{{restaurante.idrestaurante}}">{{restaurante.nome}}</a><br>
          {{restaurante.descricao}}<br>
        </div>
      </div>

      <pagination-controls (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
    
    </div>

</div>

<router-outlet></router-outlet>